@import "tailwindcss";

@custom-variant light (&:where(.light, .light *));
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant auto (&:where(.auto, .auto *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground overscroll-none;
  }
}

.theme-default {
  --background: var(--color-white);
  --foreground: var(--color-zinc-900);
  --popover: var(--color-white);
  --popover-foreground: var(--color-zinc-900);
  --primary: var(--color-zinc-800);
  --primary-foreground: var(--color-zinc-50);
  --accent: --alpha(var(--color-black) / 4%);
  --accent-foreground: var(--color-zinc-900);
  --border: --alpha(var(--color-black) / 12%);
  --input: --alpha(var(--color-black) / 12%);
  --ring: var(--color-stone-400);

  @variant dark {
    --background: var(--color-zinc-950);
    --foreground: var(--color-zinc-100);
    --popover: var(--color-zinc-900);
    --popover-foreground: var(--color-zinc-100);
    --primary: var(--color-zinc-100);
    --primary-foreground: var(--color-zinc-900);
    --accent: --alpha(var(--color-white) / 6%);
    --accent-foreground: var(--color-zinc-100);
    --border: --alpha(var(--color-white) / 12%);
    --input: --alpha(var(--color-white) / 12%);
    --ring: var(--color-stone-500);
  }
}

.theme-catpuccin {
  --background: oklch(0.9578 0.0058 264.5321);
  --foreground: oklch(0.4355 0.043 279.325);
  --popover: oklch(0.8575 0.0145 268.4756);
  --popover-foreground: oklch(0.4355 0.043 279.325);
  --primary: oklch(0.5547 0.2503 297.0156);
  --primary-foreground: oklch(1 0 0);
  --accent: oklch(0.682 0.1448 235.3822);
  --accent-foreground: oklch(1 0 0);
  --border: --alpha(var(--color-black) / 12%);
  --input: --alpha(var(--color-black) / 12%);
  --ring: var(--color-stone-400);

  @variant dark {
    --background: oklch(0.2155 0.0254 284.0647);
    --foreground: oklch(0.8787 0.0426 272.2767);
    --popover: oklch(0.4037 0.032 280.152);
    --popover-foreground: oklch(0.8787 0.0426 272.2767);
    --primary: oklch(0.7871 0.1187 304.7693);
    --primary-foreground: oklch(0.2429 0.0304 283.911);
    --accent: oklch(0.8467 0.0833 210.2545);
    --accent-foreground: oklch(0.2429 0.0304 283.911);
    --border: --alpha(var(--color-white) / 12%);
    --input: --alpha(var(--color-white) / 12%);
    --ring: var(--color-stone-500);
  }
}

.theme-t3chat {
  --background: oklch(0.9754 0.0084 325.6414);
  --foreground: oklch(0.3257 0.1161 325.0372);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3257 0.1161 325.0372);
  --primary: oklch(0.5316 0.1409 355.1999);
  --primary-foreground: oklch(1 0 0);
  --accent: oklch(0.8696 0.0675 334.8991);
  --accent-foreground: oklch(0.4448 0.1341 324.7991);
  --border: --alpha(var(--color-black) / 12%);
  --input: --alpha(var(--color-black) / 12%);
  --ring: var(--color-stone-400);

  @variant dark {
    --background: oklch(0.2409 0.0201 307.5346);
    --foreground: oklch(0.8398 0.0387 309.5391);
    --primary: oklch(0.4607 0.1853 4.0994);
    --primary-foreground: oklch(0.856 0.0618 346.3684);
    --popover: oklch(0.1548 0.0132 338.9015);
    --popover-foreground: oklch(0.9647 0.0091 341.8035);
    --accent: oklch(0.3649 0.0508 308.4911);
    --accent-foreground: oklch(0.9647 0.0091 341.8035);
    --border: --alpha(var(--color-white) / 12%);
    --input: --alpha(var(--color-white) / 12%);
    --ring: var(--color-stone-500);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}
